@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");

:root {
    --background: #caf0f8;
    --sky-blue: #90e0ef;
    --bright-blue: #00b4d8;
    --royal-blue: #151785;
    --sunny: #ffb627;
    --cloudy: #b7b7a4;
    --stormy: #343a40;
    --rain: #0077b6;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: var(--background);
    font-family: "Mukta";
}

form {
    display: flex;
    justify-content: space-between;
}

label {
    font-family: "Mukta";
    font-size: 1rem;
    color: var(--royal-blue);
    font-weight: 700;
}

input {
    padding: 8px;
    border-radius: 1rem;
    border: none;
    font-family: "Mukta";
    font-size: 1rem;
    font-weight: 700;
    margin-right: 5px;
}

button {
    outline: none;
    border: transparent;
    background-color: #151785;
    color: white;
    border-radius: 8px;
    padding: 8px;
    font-weight: 700;
    width: 75px;
    font-family: "Mukta";
    font-size: 1rem;
    cursor: pointer;
}

#search {
    margin-right: 10px;
}

.active {
    background-color: var(--background);
    color: var(--royal-blue);
}

.temp-btns {
    background-color: var(--royal-blue);
    border-radius: 8px;
    border: 4px solid var(--royal-blue);
}

#c {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#f {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

button:hover,
button:active {
    opacity: 50%;
}

.hidden {
    display: none;
}

#weather-display {
    height: auto;
    width: 35%;
    border-radius: 1rem;
    margin-top: 1rem;
    background: rgba(0, 0, 0, 0.185);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

h4,
h2,
h3 {
    padding: 0;
    margin: 0;
}

h2 {
    margin: 1rem 0 1rem;
}

#uv {
    margin-bottom: 16px;
}

* {
    box-sizing: border-box;
}
