@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");

:root {
    --background: #caf0f8;
    --sky-blue: #90e0ef;
    --bright-blue: #00b4d8;
    --royal-blue: #151785;
    --sunny: #ffb627;
    --cloudy: #b7b7a4;
    --stormy: #343a40;
    --rain: #0077b6;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: var(--background);
    font-family: "Mukta";
}

h1 {
    color: var(--royal-blue);
    font-family: "Mukta";
}

form {
    width: 350px;
}

label {
    font-family: "Mukta";
    font-size: 1rem;
    color: var(--royal-blue);
    font-weight: 700;
}

input {
    padding: 8px;
    border-radius: 1rem;
    border: none;
    font-family: "Mukta";
    font-size: 1rem;
    font-weight: 700;
}

button {
    outline: none;
    border: transparent;
    background-color: #151785;
    color: white;
    border-radius: 1rem;
    padding: 8px;
    font-weight: 700;
    width: 75px;
    font-family: "Mukta";
    font-size: 1rem;
    cursor: pointer;
}

#weather-display {
    height: 350px;
    width: 350px;
    border-radius: 1rem;
    margin-top: 1rem;
    background-color: rgba(0, 0, 0, 0.2);
}

* {
    box-sizing: border-box;
}
